# Build
[Bb]in/
[Oo]bj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/

# Database
*.mdf
*.ldf
*.sqlite
*.db

# Logs
*.log

# OS
Thumbs.db
.DS_Store

# App settings (secrets)
appsettings.Development.json
appsettings.*.json

# NuGet
packages/

# Publish
publish/
